/* CSS Reset */
*{
    margin: 0%;
    padding: 0%;
}

/* CSS Variable */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar: logo and img */
#navbar{
    display: flex;
    background-color: grey;
}

#logo{
    margin: 10px 6px;

}

#logo img{
    margin: 10px 6px;

}
/* Navigation Bar: Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: cursive;
}

#navbar::before{
    content: ;
    background-color: black;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

/* Home Section */
#Home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#Home{
    content: ;
    background: url("./image/buick.jpg") no-repeat center center/cover;
    position:absolute;
    height: 60%;
    width: 70%;
    z-index: -1;
    opacity: o.90;   
}

#Home h1{
    color:white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

#Home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
}

#Home .btn{
    cursor: pointer;
        
}

#services{
    margin: 375px 0px;
    display: flex;
}

#services .box{
    border: 2px solid brown;

}


/* Utility Class */
.h-primary{
    font-size: 3.0rem;
    padding: 12px;
}
h1.h-primary.center {
    font-size: 3.0rem;
    margin: 350px 0px;
    text-align: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}
